# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
env/
venv/

# Notebooks
.ipynb_checkpoints/

# Data
/data/raw/*
!/data/raw/.gitkeep
/data/processed/*
!/data/processed/.gitkeep

# Slides build cache
*.tmp
*.log

# VSCode
.vscode/
